/*
	Reset Selector - don't remove this!
*/

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.
*/

a:link, a:visited {
	color: blue;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body {
	font-size: 15px;
}

code {
	
}

h1, h2, h3 {
	line-height: 2em;

	text-align: center;

}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 20px;
}

header {
	font-size: 35px;
}

main {
	text-indent: 2em;
}

p {
	font-family: 'Roboto', sans-serif;
}

#intro {

}

#how-does-it-work, #influence, #joke {

}